.playField {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
}
.kaart > img {
    height: 200px;
    width: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}
.wrong {
    border: solid 5px red;
}
.correct {
    border: solid 5px green;
}
.hidden {
    visibility: hidden;
}